<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Soccerfy
        <!-- <img alt="Brand" src=""> -->
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdownDirective>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a (click)="onSave()">Save</a></li>
            <li><a (click)="onGet()">Load</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" routerLinkActive="active"><a routerLink="teams">Teams</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="players">Players</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="manager">Manager</a></li>
      </ul>
    </div>
  </div>
</div>

