<div class="row">
  <div class="col-md-12 form-group">
    <form>
      <label for="imagePath">Image Path</label>
      <input type="text" class="form-control">
      <img src="#" alt="preview">
      <br>
      <label for="name">Name</label>
      <input type="text" class="form-control">
      <label for="leauges">Leauge</label>
      <input type="text" class="form-control">
      <label for="headCoach">Head coach</label>
      <input type="text" class="form-control">
      <br>
      <div class="row">
        <div class="col-md-4">
          <label for="victory">Victory</label>
          <input type="number" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="loss">Loss</label>
          <input type="number" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="draw">draw</label>
          <input type="number" class="form-control">
        </div>
      </div>
      <div class="alert alert-success" role="alert">
          <h3>Strength</h3>
        </div>
    </form>
  </div>
</div>