<div class="row">
  <div class="col-md-12 form-group">
    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button
            [disabled]="!teamForm.valid" 
            type="submit" 
            class="btn btn-default">
              Save
        </button>
        </div>
        <div class="btn-group" role="group">
          <button
            type="button" 
            class="btn btn-default"
            (click)="onCancelForm()">
              Cancel
        </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <label for="logo">Logo</label>
          <input id="logo" type="text" class="form-control" formControlName='logo' #logo>
        </div>
        <div class="col-md-8">
          <label for="imagePath">Image Path</label>
          <input id="imagePath" type="text" class="form-control" formControlName='imagePath' #image>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img [src]="logo.value" alt="logo" class="img-responsive">
        </div>
        <div class="col-md-8">
          <img [src]="image.value" alt="imagePath" class="img-responsive">
        </div>
      </div>
      <br>
      <label for="name">Name</label>
      <input id="name" type="text" class="form-control" formControlName='name'>
      <label for="leauge">Leauge</label>
      <input id="leauge" type="text" class="form-control" formControlName='leauge'>
      <label for="headCoach">Head coach</label>
      <input id="headCoach" type="text" class="form-control" formControlName='headCoach'>
      <br>
      <div class="row">
        <div class="col-md-4">
          <label for="victory">Victory</label>
          <input 
            id="victory"
            type="number" 
            class="form-control" 
            formControlName='victory'
            >
        </div>
        <div class="col-md-4">
          <label for="loss">Loss</label>
          <input 
            id="loss"
            type="number" 
            class="form-control" 
            formControlName='loss'
            >
        </div>
        <div class="col-md-4">
          <label for="draw">draw</label>
          <input 
            id="draw"
            type="number" 
            class="form-control" 
            formControlName='draw'
            >
        </div>
      </div>
    </form>
  </div>
</div>