<div class="row">
  <div class="col-md-12">
    <h3>All team players 
      <span class="label label-default">{{ teamPlayers.length }}</span>
      <span class="pull-right">
        <button (click)="onBackToDetails()" class="btn btn-danger pull-right">Back to details</button>
      </span>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-team-player-item 
      *ngFor="let player of teamPlayers; let i = index"
      [teamPlayer]="player"
      [teamIndex]="teamID"
      [playerIndex]="i">
    </app-team-player-item>
  </div>
</div>