<div class="row">
  <div class="col-md-6">
    <img 
      [src]="player.imagePath" 
      class="img-responsive" 
      alt="palyer.name"
      style="border-radius: 3px;">
    <ul class="nav nav-stacked">
      <li role="presentation" appButtonHover style="cursor: pointer;"><a (click)="onNavigateToPlayerEdit()">Edit</a></li>
      <li role="presentation" appButtonHover style="cursor: pointer;"><a (click)="onDeletePlayer()">Delete</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Name</div>
      <div class="panel-body">
        {{ player.name }}
      </div>
      <div class="panel-heading">Age</div>
      <div class="panel-body">
        {{ player.age }}
      </div>
      <div class="panel-heading">Nationality</div>
      <div class="panel-body">
        {{ player.nationality }}
      </div>
      <div class="panel-heading">Position</div>
      <div class="panel-body">
        {{ player.position }}
      </div>
      <div class="panel-heading">Team</div>
      <div class="panel-body">
          {{ player.team }}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Statistics</th>
          <th scope="col">Attack</th>
          <th scope="col">Middle</th>
          <th scope="col">Defense</th>
          <th scope="col">Goals</th>
          <th scope="col">Assistance</th>
          <th scope="col">Strength</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2019</th>
          <td>{{ player.attack }}</td>
          <td>{{ player.middle }}</td>
          <td>{{ player.defense}}</td>
          <td>{{ player.goals }}</td>
          <td>{{ player.assistance }}</td>
          <td>{{ player.strength }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
