<div class="row">
  <div class="col-md-6">
    <img 
      [src]="player.imagePath" 
      class="img-responsive" 
      alt="palyer.name"
      style="border-radius: 3px;">
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Name</div>
      <div class="panel-body">
        {{ player.name }}
      </div>
      <div class="panel-heading">Age</div>
      <div class="panel-body">
        {{ player.age }}
      </div>
      <div class="panel-heading">Nationality</div>
      <div class="panel-body">
        {{ player.nationality }}
      </div>
      <div class="panel-heading">Team</div>
      <div class="panel-body">
        {{ player.team }}
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Edit</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning">Delete</button>
      </div>
    </div>
  </div>
<hr>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Statistics</th>
          <th scope="col">Attack</th>
          <th scope="col">Middle</th>
          <th scope="col">Defense</th>
          <th scope="col">Goals</th>
          <th scope="col">Assistance</th>
          <th scope="col">Strength</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2019</th>
          <td>{{ player.attack }}</td>
          <td>{{ player.middle }}</td>
          <td>{{ player.defense}}</td>
          <td>{{ player.goals }}</td>
          <td>{{ player.assistance }}</td>
          <td>{{ player.strength }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
