<a
[routerLink]="[index]"
routerLinkActive="active"
style="cursor: pointer"
class="list-group-item clearfix">
  <span class="pull-left">
      <img 
      [src]="playerItem.imagePath" 
      alt="{{ playerItem.name }}" 
      class="img-responsive" 
      style="max-height: 70px;">
  </span>
  <div class="row">
    <div class="list-group-item-text col-md-3 col-md-offset-1">{{ playerItem.name | shortenName:13 }}</div>
    <div class="list-group-item-text col-md-3">{{ playerItem.age }}</div>
    <div class="list-group-item-text col-md-3">{{ playerItem.strength }}</div>
  </div>
</a>

  