<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" appButtonHover style="cursor: pointer;"><a (click)="onNavigateToEdit()">Edit</a></li>
          <li role="presentation" appButtonHover style="cursor: pointer;"><a (click)="onDeleteTeam()">Delete</a></li>
          <li role="presentation" appButtonHover style="cursor: pointer;"><a href="#">Don't know yet</a></li>
        </ul>
      </div>
      <div class="col-md-8">
          <img 
            class="img-responsive" 
            [src]="teamItem.imagePath" 
            alt="cover.png"
            style="border-radius: 3px;">
      </div>
    </div>
    <br>
    <div class="panel panel-info">
      <div class="panel-heading">Name</div>
      <div class="panel-body">
        <h4> {{ teamItem.name }} </h4>
      </div>
      <div class="panel-heading">Leauge</div>
      <div class="panel-body">
        <h4> {{ teamItem.leauge }} </h4>
      </div>
      <div class="panel-heading">Head Coach</div>
      <div class="panel-body">
        <h4> {{ teamItem.headCoach }} </h4>
      </div>
    </div>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Statistics</th>
            <th scope="col">Victory</th>
            <th scope="col">Loss</th>
            <th scope="col">Draw</th>
            <th scope="col">Seasonal Performance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2019</th>
            <td>{{ teamItem.victory }}</td>
            <td>{{ teamItem.loss }}</td>
            <td>{{ teamItem.draw }}</td>
            <td>{{ teamItem.strength }}%</td>
          </tr>
        </tbody>
      </table>
      <br>
  </div>
</div>
