<div class="row">
  <div class="col-md-12">
    <img 
      class="img-responsive" 
      [src]="teamItem.imagePath" 
      alt="cover.png"
      style="border-radius: 3px;"
      >
    <br>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Edit</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Delete</button>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">Name</div>
      <div class="panel-body">
        <h4> {{ teamItem.name }} </h4>
      </div>
      <div class="panel-heading">Leauge</div>
      <div class="panel-body">
        <h4> {{ teamItem.leauge }} </h4>
      </div>
      <div class="panel-heading">Head Coach</div>
      <div class="panel-body">
        <h4> {{ teamItem.headCoach }} </h4>
      </div>
    </div>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Statistics</th>
            <th scope="col">Victory</th>
            <th scope="col">Loss</th>
            <th scope="col">Draw</th>
            <th scope="col">Seasonal Performance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2019</th>
            <td>{{ teamItem.victory }}</td>
            <td>{{ teamItem.loss }}</td>
            <td>{{ teamItem.draw }}</td>
            <td>{{ teamItem.getStrength() }}%</td>
          </tr>
        </tbody>
      </table>
      <br>
  </div>
</div>
