<div class="row">
  <div class="col-md-12 form-group">
    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button
                type="submit" 
                class="btn btn-info"
                [disabled]="!playerForm.valid">
                  Save
              </button>
            </div>
            <div class="btn-group" role="group">
              <button
                type="button" 
                class="btn btn-warning"
                (click)="onCancelForm()">
                  Cancel
              </button>
            </div>
          </div>
          <span *ngIf="!playerForm.valid && playerForm.touched" class="help-block">
            Invalid Form!
          </span>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <label for="imagePath">Image Path</label>
              <input 
                formControlName="imagePath"
                id="imagePath" 
                type="text" 
                class="form-control" 
                #image>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-8">
              <img [src]="image.value" alt="imagePath" class="img-responsive">
            </div>
          </div>
          <br>
          <label for="name">Name</label>
          <input formControlName="name" id="name" type="text" class="form-control">
          <label for="age">Age</label>
          <input formControlName="age"id="age" type="text" class="form-control">
          <label for="nationality">Nationality</label>
          <input formControlName="nationality"id="nationality" type="text" class="form-control">
          <!-- <label for="team">Team</label>
          <input formControlName="team" id="team" type="text" class="form-control"> -->
          <br>
          <label for="teams">Teams</label>
          <select 
            id="teams" 
            class="form-control"
            formControlName="team"
            >
              <option 
                *ngFor="let teamName of teamNames" 
                [value]="teamName">
                  {{ teamName }}
              </option>
          </select>
          <label for="positions">Positions</label>
          <select 
            id="positions" 
            class="form-control"
            formControlName="position"
            >
              <option 
                *ngFor="let post of posts" 
                [value]="post">
                  {{ post }}
              </option>
          </select>
            <br>
            <div class="row">
              <div class="col-md-2">
                <label for="attack">Attack</label>
                <input 
                  formControlName="attack"
                  id="attack"
                  type="number" 
                  class="form-control"
                  >
              </div>
              <div class="col-md-2">
                <label for="middle">Middle</label>
                <input 
                  formControlName="middle"
                  id="middle"
                  type="number" 
                  class="form-control"
                  >
              </div>
              <div class="col-md-2">
                <label for="defense">Defense</label>
                <input 
                  formControlName="defense"
                  id="defense"
                  type="number" 
                  class="form-control"
                  >
              </div>
              <div class="col-md-2">
                <label for="goals">Goals</label>
                <input 
                  formControlName="goals"
                  id="goals"
                  type="number" 
                  class="form-control"
                  >
              </div>
              <div class="col-md-2">
                <label for="assistance">Assistance</label>
                <input 
                  formControlName="assistance"
                  id="assistance"
                  type="number" 
                  class="form-control"
                  >
              </div>
              <div class="col-md-2">
                <label for="strength">Strength</label>
                <input 
                  formControlName="strength"
                  id="strength"
                  type="number" 
                  class="form-control"
                  >
              </div>
            </div>
      </div>
    </form>
  </div>
</div>
